* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-image: url(form.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

header {
    background: rgba(0, 0, 0, 0.39);
    padding: 1rem;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px;
}

.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
}

#formulario {
    padding: 2rem;
    background: rgba(0, 0, 0, 0.747);
    border-radius: 5px;
}
#formulario label {
    display: block;
}
#formulario input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}