@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: burlywood;
}

.item-1 {
    background-color: darkcyan;
    width: 200px;
    height: 200px;
}

.item-2 {
    background-color: darkslateblue;
    width: 200px;
    height: 200px; 
}

.item-3 {
    background-color: darkslategrey;
    width: 200px;
    height: 200px;
}