@charset "utf-8";

body {
    background-image: url(backimg.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

h1 {
    text-align: center;
    color: grey;
    font-family: monospace;
    font-size: 25px;
}

.curious {
    text-align: center;
}

.btn {
    background-color: crimson;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    margin-right: 0.2rem;
    font-size: 0.4cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

img {
    width: 350px;
    height: 300px;
}

.img1 {
    float: left;
}

.img2 {
    float: right;
}

.img3 {
    float: left;
}

.img4 {
    float: left;
}

.img5 {
    float: right;

}

.divisao {
    margin-top: 170px;
    
}


.card1 {
    background-color: rgba(3, 3, 3, 0.616);
    border-radius: 40px;
    padding: 2rem;
    opacity: 0.9;
    margin-top: 70px;
}

hr {
    margin-top: 130px;
}

.pEnd {
    text-align: center;
    margin-top: 80px;
}
