@charset "utf-8";


h1 {
    line-height: 400%;
    color: green;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.img1 {
    float: left;
    width: 200px;
    height: 150px;
}

header {
    margin-bottom: 5%;
}

li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}