@charset "utf-8";

body {
   background-image: url("HarryPotter.jpg");
}

header {
   text-align: center;
   background-color: rgba(240, 248, 255, 0.411);
}

.container {
   display: flex;
}

.filme1 {
   align-items: center;
}

.filme2 {
   align-items: center;
}