@charset "utf-8";

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: #cca380;
    line-height: 1.6em;
}

#showtener {
    background-image: url("SweetenerCapa.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

article {
   color: aliceblue;
   
}